---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Socials from '../components/Socials.astro';
---

<Layout title="ImJustCri">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<main>
		<div class="cover">
			<div class="coverContent">
				<div class="logo_div">
					<img src="logo.png" alt="logo" class="logo"/>
				</div>
		
				<h1 class="text-gradient">ImJustCri</h1>
		
				<p class="about_me">
					Italian IT Student and Developer
				</p>
		
				<div class="socials">
					<Socials
					title="github"
					href="https://github.com/ImJustCri"
					icon="bx bxl-github"
					/>
		
					<Socials
					title="figma"
					href="https://github.com/ImJustCri"
					icon="bx bxl-figma"
					/>
				</div>
			</div>
			
		</div>

		<!-- <div class="description">
			<h2>Who Am I?</h2>
			<p>I'm an enthusiastic IT student from Italy with a strong passion 
				for web, game, and app development. 
				I am particularly focused on Free and Open Source Software (FOSS), 
				as I believe in the power of collaborative innovation and accessibility in technology.
				My goal is to create impactful and user-friendly applications that contribute to the open-source community.</p>
		</div> -->
	</main>

	<div class="projects_button">
		<div class="text-centered">
			<a href="projects">
				<p>Browse my Projects</p>
			</a>
		</div>
	</div>

	<script src="Portfolio/src/scripts/cursor.js"></script>
	<div class="cursor"></div>
</Layout>

<style>

	html {
		background-color: black;
		animation: fadeIn 1.5s forwards;
		opacity: 0;
		overflow: hidden;
	}

	
	@keyframes fadeIn {
    	to {
    	    opacity: 1;
    	}
	}


	.logo_div {
		margin: auto;
		text-align: center;
	}
	
	.logo {
		width: 88px;
		height: auto;
		padding-top: 40px;
	}

	body {
		background-image: url(pattern.svg);
    	background-repeat: no-repeat;
    	background-color: black;
    	background-position: -32px;
    	background-size: cover;
		margin: 0;
		padding: 0;
	}
	
	main {
		margin: auto;
		padding-top: 4rem;
		width: 1800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.projects_button {
		width: 160px;
		height: 40px;
		/* background: #23262d; */
		position: fixed;
		top: 94vh;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.text-centered {
		justify-content: center;
        justify-items: center;
        justify-self: center;
		align-items: center;
	}

	.text-centered > a {
		transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: rgb(121, 121, 121);
		text-decoration: none;
	}

	.text-centered > a:hover {
		transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: rgb(255, 255, 255);
		text-decoration: underline;
	}

	h1 {
		font-size: clamp(2.369rem, 3vw + 1rem, 3.157rem);
		font-weight: 600;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
		margin-top: 16px;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.about_me {
		text-align: center;
		font-size: 1.25rem;
	}

	.socials {
		display: flex;
		width: auto;
		max-width: 128px;
		margin: auto;
	}

	.cover {
		display: flex;
		height: 100vh;
		justify-content: center;
		justify-items: center;
		justify-self: center;
		align-items: center;
		transform: translateY(-10%);
	}

	.cover_content {
		margin: 0;
    	padding: 0;
	}

	@media screen and (max-width: 464px) {
		.description {
			padding: 32px;
		}
	}
</style>
