---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="ImJustCri">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<main>
		<div class="cover">
            <div class="projects-div" id="projects">
		<div class="projects-centered">
			<ul role="list" class="link-card-grid">
				<Card
					href="https://docs.astro.build/"
					title="Capacità Merito Inclusione"
					body="Website made and mantained using WordPress"
					imagePath='Portfolio/projects_photos/cmi.png'
				/>
				<Card
					href="https://astro.build/integrations/"
					title="Equivocal"
					body="Puzzle-based videogame programmed in Godot 4"
					imagePath='Portfolio/projects_photos/equivocal.png'
				/>
				<Card
					href="https://www.figma.com/proto/M03SsYJp4BAGZaz7NfkDnj/Food-Delivery-App?page-id=1%3A3&node-id=69-379&node-type=frame&viewport=-2164%2C252%2C0.48&t=xoJHMcWoDkufL81V-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=69%3A379"
					title="Delivery App UI"
					body="UI Concept made on Figma"
					imagePath='Portfolio/projects_photos/deliveryapp.png'
				/>
				<!-- <Card
					href="https://astro.build/chat/"
					title="Progetto 4"
					body="Lorem Ipsum blah blah blah blah"
					imagePath='/projects_photos/cmi.png'
				/> -->
			</ul>
		</div>
	</div>
		</div>

	</main>

	<script src="Portfolio/src/scripts/cursor.js"></script>
	<div class="cursor"></div>
</Layout>

<style>
    html {
		background-color: black;
		animation: fadeIn 1.5s forwards;
		opacity: 0;
	}

    @keyframes fadeIn {
    	to {
    	    opacity: 1;
    	}
	}

    body {
		background-image: url(pattern.svg);
    	background-repeat: no-repeat;
    	background-color: black;
    	background-position: -32px;
    	background-size: cover;
		margin: 0;
		padding: 0;
	}

    .projects-div {
		margin: 0;
		padding: 128px 0 128px 0;
		overflow: hidden;
	}

	.projects-centered {
		padding: 16px;
		max-width: 1500px;
		margin: auto;
	}

    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

    @media screen and (max-width: 1230px) {
		.link-card-grid {
			grid-template-columns: repeat(1, minmax(24ch, 1fr));
		}

		body {
    		background-position: -800px;
		}
	}
</style>